
.App {
  text-align: center;
  font-family: 'EB Garamond', serif;
  font-family: 'Fruktur', cursive;
  font-family: 'Merriweather', serif;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* login */
.base.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.header{
  font-size: 20px;
  font-family: 'EB Garamond', serif;
color:#FF7166 ;
padding-top: 40px;

}
.content{
  display: flex;
  flex-direction:column ;
  align-items: center;

}
.image{
  width: 21em;
}
  .img1{
    width: 100%;
    height: 100%;

  }
  .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;

  }
  .form-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    color:#374FF8;
    font-family: 'EB Garamond', serif;
  }
label{
  font-size: 20px;
}
input{
  margin-top: 6px;
  min-width: 18em;
  height: 37px;
  padding: 0px 10px;
  font-size: 16px;
  font-family: '0pen Sans', Arial, Helvetica, sans-serif;
  background-color: #f3f3f3;
  border: 0;
  border-radius: 4px;
  margin-bottom: 31px;
  transition: all 250ms ease-in-out;
  
}
input :focus{
  outline: none;
 box-shadow: 0px 0px 12px 0.8px #0e81ce96;
    
}
/* button */
 .botn{
  font-size: 20px;
  border-radius: 40%;
  background-color: #4D70FE;
  color: #fff;
  /* transition: all 250ms ease-in-out; */
  /* cursor:pointer; */
 }
 .botnn{
   display: block;
   justify-content: center;
   align-items: center;
 }

/* ________________________________ */

.login {
  width: 27em;
  height: 40em;
  min-height: 44em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  position: relative;
  z-index: 99;}
  .login.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
    border-radius: 4px;
    position: relative;
    z-index: 99;
    width: 100%;
    height: 100%;
    z-index: 99;
    padding: 17px 10px;
    /* //transition: transform 200ms ease-in-out; */
  }
  .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85%;
    background-color: #f5c7c7;
    width: 100%;
    position: absolute;
    right: -34%;
    border-radius: 6px;
    z-index: 1;
    transition: all 400ms ease-in-out;
    cursor: pointer;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.281);
    font-family: 'EB Garamond', serif;

  }
  .right-side.right {
      right: -40%;
      align-items: flex-end;
  }
  .right-side.right:hover {
        right: -45%;
      }
    
      .right-side.left {
      right: 40%;
      align-items: flex-start;
      }
      .right-side.left:hover {
        right: 45%;
      }
/* _______________________________________________ */
.text{
  font-size: 21px;
  font-weight: 500;
  color: #fff;
  margin-right: 3em;
  margin-left: 3em;
}
.containerf{
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
 background-color: rgb(236, 233, 233);
 box-shadow: 0px 0px 12px 2px ;
 border-radius: 4px;
 position: relative;
 z-index: 99;
 width: 100%;
 height: 95%;
 padding: 17px 10px;

}

.signin{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;

}
/* ___________________________________ */

.col-example1{
  border-right: 5px solid rgb(250, 214, 214)  ;
}
.ct{
 display: flex;
 flex-direction: column;
}
.s1{
  background-color: rgb(233, 230, 230);
}
.seller{
margin-top:10px;
}
.simg{
  border-radius: 50%;
}
.main{
  margin:1%;
  padding-left:15%;
  padding-right: 15%;
  background-image: url("https://c8.alamy.com/comp/RAR8NA/seamless-doodle-style-background-money-gold-business-and-finance-texture-RAR8NA.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* profile */
.pro{
  display:grid ;
  grid-template-columns:auto auto auto auto;

}
.pro1{
  grid-column: 1/2;
}
.pro2{
  border: grey solid;
  grid-column: 2/4;
  margin-top: 5%;
  margin-bottom: 2%;
}
/* navbar */
#navd{
  margin-right: 80px;
}